/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* Définition générale */

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #000000;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/* Définition du "MODE EDITION" et du Panel supérieur "Utilisateur authentifié" */

.authentified-userpanel {
	height: 60px;
	justify-content: center;
	align-items: center;
	gap: 1%;
	background-color: #000000;
	color: #FFFFFF;
}


/* SWITCH "editMode" */
.edit-mode {
	display: none;
}
/* ----------------- */

.edit-mode i {
	margin-right: 5px;
	font-size: 16px;
}

.button-post-changes {
	background-color: #FFFFFF;
	color: #000000;
	height: 38px;
	border-radius: 19px;
	padding: 0 15px 0 15px;
	font-size: 14px;
	font-weight: 500;
	font-family: "Work Sans";
}

button {
	background-color: #FFFEF8;
	border: none;
	font-family: "Work sans";
	font-size: 14px;
	padding: 10px 0 10px 0;
}

.edit-mode-introduction-figure {
	width: 80%;
	margin: auto;
}

.edit-mode-portfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	gap: 2%;
}

.edit-mode-portfolio-title button {
	margin: 0;
}

/* Définition de la MODALE */

/* Style de base pour cacher la modale */
.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
 /* Style pour le contenu de la modale */
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	width: 630px;
	height: 730px;
	overflow: auto;
	background-color: #FFFFFF;
	color: #000000;
	padding: 16px 20px 13px 20px;
}

.close-modal-button-container {
	width: 100%;
	text-align: end;
}
  
.modal-gallery-container {
	width: 75%;
	text-align: center;
	height: auto;
}

.modal-gallery-grid-container {
	width: 100%;
	height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 7px;
	grid-row-gap: 13px;
	margin-top: 45px;
}

.modal-gallery-grid-container img {
	width: 76px;
	height: 103px;
}

.modal-gallery-grid-container figure {
	text-align: left;
	position: relative;
}

.edit-button-modale {
	padding: 0;
	font-size: 12px;
}

.modal-gallery-grid-container figure:hover .enlarge-image-button-modale {
	display: block;
}

.enlarge-image-button-modale {
	display: none;
	position: absolute;
	top: 6px;
	right: 33px;
	z-index: 1;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 2px;
	height: 20px;
	width: 18px;
	padding: 0;
}

.trash-button-modale {
	position: absolute;
	top: 6px;
	right: 12px;
	z-index: 1;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 2px;
	height: 20px;
	width: 18px;
	padding: 0;
}

.trash-button-modale i,
.enlarge-image-button-modale i {
	font-size: 10px;
	margin: 0;
}

h3 {
	font-family: "Work sans";
	font-size: 26px;
	font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid #B3B3B3;
    text-align: center;
	width: 75%;
	margin-top: 45px;
}

.add-photo-button {
	background-color: #1D6154;
	color: #FFFFFF;
	border: solid 1px #1D6154;
	border-radius: 19px;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	width: 237px;
	padding: 0 20px 0 20px;
	margin-top: 25px;
}

.delete-gallery-button {
	color: #D65353;
	background-color: #FFFFFF;
}

/* Définition du HEADER */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

/* Définition du NAV */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
a:hover {
	color: #B1663C;
}

/* Définitions de SECTION*/

section {
	margin: 50px 0
}

/* Définition de la SECTION "Introduction" */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction article p {
	margin-bottom: 0.5em;
}

/* Ajout des boutons filtres des projets "category-filter" à la SECTION "Portfolio"*/

.category-filter-section {
	text-align: center;
	margin: 3em;
	height: 37px;
}

.category-filter-section button {
	background-color: #FFFEF8;
	color: #1D6154;
	border: solid 1px #1D6154;
	border-radius: 19px;
	height: 100%;
	font-family: "Syne";
	font-weight: 700;
	font-size: 16px;
	padding: 0 20px 0 20px;
	margin: 0 5px 0 5px;
}

.category-filter-section button:hover {
	background-color: #1D6154;
	color: #FFFEF8;
}

.category-filter-section button:active {
	background-color: #0E2F28;
	color: #FFFEF8;
}

input[type="submit"]:active {
	background-color: #0E2F28;
	color: #FFFEF8;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Définition de la SECTION "Contact" avec reprises pour la page LOGIN.HTML*/

#contact {
	width: 50%;
	margin: auto;
}

#contact > *,
.login > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form,
.login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
.login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/* Définition de la SECTION / FORM de la page LOGIN.HTML */

.login {
	width: 50%;
	margin: auto;
}

.login-link {
	font-weight: 600;
}

form a {
	margin: auto;
}

.wrong-user-notification {
	margin: auto;
	padding-top: 3em;
	font-family: "Syne";
	font-size: 20px;
	font-weight: 600;
}

/* Définition du FOOTER */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em 0 2em 0;
}

.footer-login-page {
	position: fixed;
	bottom: 0;
	margin: auto;
	width: 1140px;
}